<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="194x194" href="/assets/icons/favicon-194x194.png?v=1">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/android-chrome-192x192.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=1">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=1">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=1" color="#34a600">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#00a300">
<meta name="msapplication-TileImage" content="/assets/icons/mstile-144x144.png?v=1">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="/assets/css/style.css">

{% if page.noindex %}
<meta name="robots" content="noindex">
{% endif %}