<div class="htf-item">
    <div class="htf-item-data">
        <div class="htf-item-data-info" style="text-align: center">
            <b>{{ person.name }}</b>
            <br>
            <small style="margin-top: 0;">{{ period.role }}</small>
        </div>
        <div class="htf-item-data-image">
            {% assign fname = person.id | prepend: "/assets/images/people/" | append: ".jpg" %}
            {% assign found = site.static_files | where: "path", fname | size %}
            {% if found > 0 %}
            <img src="{{ fname }}" style="width: 50%" />
            {% else %}
            <img src="/assets/images/other/user.png" style="width: 50%" />
            {% endif %}
        </div>
    </div>
</div>